/* src/pages/AdminPage.css */
.admin-container {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .admin-title {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .admin-description {
    font-size: 1.2em;
    color: #666;
  }
  