.navbar {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar-item {
    margin: 0 15px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.navbar-item:hover .dropdown-icon {
    transform: rotate(180deg);
}

.dropdown-icon {
    margin-left: 5px;
    font-size: 12px;
    transition: transform 0.3s;
}

/* Opcional: Estilo para el dropdown (sección desplegable) */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
}

.navbar-item:hover .dropdown {
    display: block;
}
