*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    width: 100%;   
    height: 13vh;
    background-color: rgb(37, 0, 132);
    display: flex;
    align-content: center;
    align-items: center;
}
.sub-container{
    margin-left: 3%; 
    margin-right: 3%
}
.Logo{
    width: 200px; 
    height: auto;
}
